/* ===== Global ===== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#f4f6f9;

padding:20px;

color:#333;

}


/* ===== Navbar ===== */

.navbar{

background:#1e293b;

padding:15px;

display:flex;

justify-content:space-between;

align-items:center;

border-radius:10px;

margin-bottom:30px;

}

.navbar h1{

color:white;

}

.navbar a{

text-decoration:none;

color:white;

margin-left:20px;

font-weight:bold;

}

.navbar a:hover{

color:#38bdf8;

}


/* ===== Dashboard Cards ===== */

.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

margin-top:30px;

}

.card{

background:white;

padding:25px;

width:250px;

border-radius:15px;

box-shadow:
0 4px 15px rgba(0,0,0,0.1);

text-align:center;

transition:0.3s;

}

.card:hover{

transform:translateY(-5px);

}

.card h2{

margin-bottom:15px;

color:#555;

}

.card p{

font-size:30px;

font-weight:bold;

color:#2563eb;

}


/* ===== Forms ===== */

.form-container{

background:white;

padding:20px;

border-radius:15px;

margin-bottom:30px;

box-shadow:
0 4px 15px rgba(0,0,0,0.1);

}

input,
select{

padding:12px;

margin:8px;

width:220px;

border:1px solid #ccc;

border-radius:8px;

outline:none;

}

input:focus,
select:focus{

border-color:#2563eb;

}


/* ===== Buttons ===== */

button{

padding:12px 18px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

button:hover{

background:#1d4ed8;

}

.delete-btn{

background:red;

}

.delete-btn:hover{

background:darkred;

}


/* ===== Tables ===== */

table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:10px;

overflow:hidden;

box-shadow:
0 4px 15px rgba(0,0,0,0.1);

}

th{

background:#1e293b;

color:white;

padding:15px;

}

td{

padding:15px;

text-align:center;

border-bottom:
1px solid #ddd;

}

tr:hover{

background:#f1f5f9;

}


/* ===== Login/Register ===== */

.auth-page{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#f4f6f9;

margin:0;

padding:0;

}

.login-container{

width:400px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,0.15);

}

.login-container h2{

margin-bottom:25px;

color:#1e293b;

font-size:28px;

}

.login-container input,
.login-container select{

width:100%;

padding:14px;

margin:12px 0;

border:1px solid #ccc;

border-radius:10px;

font-size:15px;

}

.login-container button{

width:100%;

padding:14px;

margin-top:20px;

font-size:16px;

}

.login-container p{

margin-top:20px;

font-size:14px;

}

.login-container a{

text-decoration:none;

font-weight:bold;

color:#2563eb;

}

.login-container a:hover{

text-decoration:underline;

}