<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Dashboard</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<div class="navbar">

	<h1>Library Management</h1>

	<div>

	<a href="/dashboard-page">
	Dashboard
	</a>

	<a href="/manage-books">
	Books
	</a>

	<a href="/manage-students">
	Students
	</a>

	<a href="/issue-page">
	Issue Book
	</a>

	<a href="/return-page">
	Return Book
	</a>

	<a href="#"
	onclick="logout()">

	Logout

	</a>

	</div>

	</div>
<h1>

Library Dashboard

</h1>

<div class="cards">

<div class="card">

<h2>Total Books</h2>

<p id="books">

0

</p>

</div>


<div class="card">

<h2>Total Students</h2>

<p id="students">

0

</p>

</div>


<div class="card">

<h2>Issued Books</h2>

<p id="issued">

0

</p>

</div>

</div>

<script src="/js/dashboard.js">

</script>

</body>

</html>