<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Issue Book</title>

<link rel="stylesheet"
href="/css/style.css">

</head>

<body>


	<div class="navbar">

	<h1>Library Management</h1>

	<div>

	<a href="/dashboard-page">
	Dashboard
	</a>

	<a href="/manage-books">
	Books
	</a>

	<a href="/manage-students">
	Students
	</a>

	<a href="/issue-page">
	Issue Book
	</a>

	<a href="/return-page">
	Return Book
	</a>

	<a href="#"
	onclick="logout()">

	Logout

	</a>

	</div>

	</div>

<div class="form-container">

<select id="student">

</select>


<select id="book">

</select>


<button
onclick="issueBook()">

Issue Book

</button>

</div>


<script src="/js/issuebook.js">

</script>

</body>

</html>