<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Return Book</title>

<link rel="stylesheet"
href="/css/style.css">

</head>

<body>


<div class="navbar">

<h1>Library Management</h1>

<div>

<a href="/dashboard-page">
Dashboard
</a>

<a href="/manage-books">
Books
</a>

<a href="/manage-students">
Students
</a>

<a href="/issue-page">
Issue Book
</a>

<a href="/return-page">
Return Book
</a>

<a href="#"
onclick="logout()">

Logout

</a>

</div>

</div>



<table>

<thead>

<tr>

<th>Issue ID</th>

<th>Student</th>

<th>Book</th>

<th>Issue Date</th>

<th>Action</th>

</tr>

</thead>

<tbody id="issueTable">

</tbody>

</table>


<script src="/js/returnbook.js">

</script>

</body>

</html>